{% extends 'base.html' %}

{% block content %}

status-cr,a,s,com{{status}}<hr>
delays-a,s,com={{delays}}<hr>
<div id="data">{{jav}}</div><hr>

<div class="row row-flex">
   <div class="col-xs-8 col-xs-offset-2  display panel panel-default">
      <div class="panel-body">
        <h3>Graph of average delay (in days) between status date changes.</h3>
        <hr>
        <div id="bar">
        
        </div>
        
</div></div></div>

<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
<script src="/static/js/d3.min.js"></script>
<script src="/static/js-my/visual.js"></script>

{% endblock %}

