{% extends 'base.html' %} 
{% block page_title %}Homepage{% endblock %}

{% block content %}
<main class="row row-flex">
   <header class="col-xs-8 col-xs-offset-2">
      <h1>Home of IssueTracker</h1>
   </header>
   <div class="col-xs-8 col-xs-offset-2  display panel panel-default">
      <article class="panel-body">

         <h3>Welcome to the Issue Tracker homepage.</h3>
         <h3>Login or Register using the tabs in the nav bar</h3>
         <h3>After logging in use the nav bar to explore your account</h3>
         <h3>We are currently building the Issue Tracker </h3>
         <h3>When ready it will be set up to handle the Unicorn App</h3>
         <h3>Use the links above to view current issues and report bugs.</h3>
         <h3>Please vote on the issues that matter to you</h3>
         <h3>Your voting record is shown in your profile</h3>
         <h3>Your support is vital for this project to succeed.</h3>

      </article>
   </div>
</main>
{% endblock %}
