{% extends 'base.html' %} 
{% block page_title %}Homepage{% endblock %}

{% block content %}
<div class="row row-flex">
   <div class="col-xs-8 col-xs-offset-2"><h1>Home of IssueTracker</h1></div>
   <div class="col-xs-8 col-xs-offset-2  display panel panel-default">
      <div class="panel-body">

<h3>Welcome to the Issue Tracker homepage.</h3>
<h3>From here you can manage your account and view the latest issues</h3>
<h3>We are currently building the Issue Tracker </h3>
<h3>When ready it will be set up to handle the Unicorn App</h3>
<h3>Use the links above to view current issues and report bugs.</h3>
<h3>Your support is vital for this project to succeed.</h3>

</div></div></div>
{% endblock %}
