{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block content %}

<h1>Bug Report Form</h1>


<div class="row row-flex">
    
    <div class="display">
            <form action="{% url 'bug' %}" method="post">
                {% csrf_token %}
                <div class="form-group col-xs-10 col-xs-offset-1">

                {{ bugform | as_bootstrap}}
                
                <button type="submit">Report a Bug</button>
                </div>
            </form>
    </div>
    
</div>   

{% endblock %}