{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block content %}

{{error_message}}

<div class="row row-flex">
   <header class="col-xs-6 col-xs-offset-3">
      <h1>Edit an Issue</h1>
   </header>
   <div class="col-xs-6 col-xs-offset-3  display panel panel-default">
      <section class="panel-body">
         <div class="col-xs-4 col-xs-offset-4">
               <form class="form-inline" method="post" action="{% url 'delete_issue' %}">
               {% csrf_token %}
               <input type="hidden" name="issue_id" value="{{ issue_id }}"/>
               <button type="submit" class="btn btn-warning">Delete this Issue</button>
               </form>
         </div>
         <form action="{% url 'update_issue' %}" method="post">
                {% csrf_token %}
                <div class="form-group col-xs-10 col-xs-offset-1">

                  {{ edit_issue_form | as_bootstrap }}
                
                  <button type="submit">Submit</button>
                </div>
         </form>
      </section>
   </div>
</div>

<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
<script>
 $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "2018:2030",
    });
  });
</script>

{% endblock %}