{% extends 'base.html' %}

{% block content %}
<hr>

<div class="row row-flex">
   <header class="col-xs-8 col-xs-offset-2">
      <h1>Issues of Bugs and Features</h1>
   </header>
</div>
<hr>
<div class="row row-flex">
   
   {% for issue in issues %}
   <div class="col-xs-10 col-xs-offset-1  display panel panel-default">
      <section class="panel-body">
         <div class="row row-flex">
            <header class="col-xs-7 col-xs-offset-1  ">
               <h3>{{issue.category}}: {{ issue.name }} - Id={{ issue.id }}</h3>
            </header>
            
            <div class="col-xs-1">
               <form  action="{% url 'vote' %}" method="POST">
               {% csrf_token %}
               <input value="{{issue.id}}" name="issue_id"  type="hidden">
               <input value="vote" name="vote"  type="hidden">
               <button type="submit" class="btn btn-success">Vote</button>
               </form>
            </div>
            
            <div class="col-xs-1">
               <form class="form-inline" method="post" action="{% url 'edit_issue' %}">
               {% csrf_token %}
               <input type="hidden" name="issue_id" value="{{ issue.id }}"/>
               <button type="submit" class="btn btn-primary"></span>Edit</button>
               </form>
            </div>
         </div>
         
         <div class="row row-flex">
            <article class="col-xs-6 col-xs-offset-1  ">
               <p>Created: {{ issue.date_issued }} by: {{ issue.owned_by }}</p>
               <p class="pre-scrollable">Description: {{ issue.description }}</p>
               <p>
                  <div>
                     <form class="form-inline" method="post" action="{% url 'get_comments' %}">
                     {% csrf_token %}
                     <input type="hidden" name="issue_id" value="{{ issue.id }}"/>
                     <button type="submit" class="btn btn-warning">View Comments</button>
                     </form>
                  </div>
               </p>
            </article>
            <article class="col-xs-4 col-xs-offset-1">
               <p>Accepted: {{ issue.date_accepted }}</p>
               <p>Started: {{ issue.date_started }}</p>
               <p>Completed: {{ issue.date_completed }}</p>
            </article>
         </div>  
      </section>
   </div>
   {% endfor %}
</div>

{% endblock  %}